@font-face {
  font-family: "Malayalam";
  src: url("./fonts/Malayalam/MalayalamMN.ttc");
}
@font-face {
  font-family: "PT_Sans_bold";
  src: url("./fonts/PT_Sans/PTSans-Bold.ttf");
}
@font-face {
  font-family: "PT_Sans_bold_italic";
  src: url("./fonts/PT_Sans/PTSans-BoldItalic.ttf");
}
@font-face {
  font-family: "PT_Sans_regular";
  src: url("./fonts/PT_Sans/PTSans-Regular.ttf");
}


.emptySpace{
  margin-top: 10em;
}

.sectionName{
  font-family: "Malayalam";
  font-size: 36px;
  text-align: center;
  /* border: 2px solid black; */
}

.jobHeading{
  /* border: 2px solid black; */
}

.companyName{
/* border: 2px solid black; */
  font-family: "PT_Sans_bold";
  font-size: 24px;
  color: #6B705C;
}
.city{
  text-align: right;
  font-family: "PT_Sans_bold";
  font-size: 24px;
  color: #6B705C;
}
.positionTitle{
/* border: 2px solid black; */
  font-family: "PT_Sans_bold_italic";
  color: #565757;
  font-size: 18px;
}


.jobPosition{
/* border: 2px solid black; */
  margin-top: .5em;
}

.jobDate{
  text-align: right;
  font-family: "PT_Sans_bold_italic";
  color: #565757;
  font-size: 18px;
}

.jodDescription{
  /* border: 2px solid black; */
  font-family: "PT_Sans_regular";
  margin-top: 1em;
}

li {
  font-size: 8px;
}
li span {
  font-size: 18px;
}


