@font-face {
  font-family: "Migra";
  src: url("./fonts/Migra/Migra-Extrabold.otf");
}
@font-face {
  font-family: "Malayalam";
  src: url("./fonts/Malayalam/MalayalamMN.ttc");
}
/* .header{
    background-color: blueviolet;
} */

.logo > a{
  text-decoration: none;
  font-family: "Migra";
  font-size: 48px;
  cursor: pointer;
  color: #6B705C;
}

#links{
  font-family: "Malayalam";
  font-size: 24px;
  color: #565757;

  /* border: 2px solid black;  */
}

.experience > a{
  font-family: "Malayalam";
  font-size: 24px;
  color: #565757;
  text-decoration: none;
  cursor: pointer;
}
.resume > a{
  font-family: "Malayalam";
  font-size: 24px;
  color: #565757;
  text-decoration: none;
  margin-left: 50px;
  cursor: pointer;
}

.projects > a{
  font-family: "Malayalam";
  font-size: 24px;
  color: #565757;
  text-decoration: none;
  margin-left: 50px;
  cursor: pointer;
}

/* .jhoText{
  cursor: pointer;
} */