@font-face {
  font-family: "PT_Sans";
  src: url("./fonts/PT_Sans/PTSans-Regular.ttf");
}
@font-face {
  font-family: "PT_Sans_bold";
  src: url("./fonts/PT_Sans/PTSans-Bold.ttf");
}

.hey{
  font-family: "PT_Sans_bold";
  /* font-weight: 800; */
  font-size: 40px;
  color: #565757;
}

.profilePic{
  height: 400px;
  width: auto;
}
.imJenny{
  font-family: "PT_Sans_bold";
  /* font-weight: 800; */
  font-size: 40px;
  margin-top: -.3em;
  color: #6B705C;
}

.intro{
  font-family: PT_Sans;
  font-size: 20px;
  padding-top: .5em;
}

#socials{
  padding-top: 2em;
}

.linkedin > a{
  color: #6B705C;
  text-decoration: underline;
}

.email > a{
  color: #6B705C;
  text-decoration: underline;
}